* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

section {
	padding: 2em 0;
}

.logo {
  color: #A68D5B
}

a {
  cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 12px;
	background: #F9F7F3;
}

.flex {
  display: -webkit-flex;
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu ul {
  display: -webkit-flex;
  display: flex;
}

.menu_item {
  list-style: none;
  padding: 1em;
}

.section_boissons {
  display: -webkit-flex;
  display: flex;
}

._padding {
  padding: 0 1em;
}

.boisson-li {
	list-style: none;
	padding: 1em 0;
}

.boisson {
  font-size: 2em;
  font-weight: 500;
  margin-right: 0.3em;
}

.boissons {
  margin-right: 2em
}

.choix_boissons {
	border: 1px solid;
	padding: 0 3em;
	border-radius: 1em;
}

.select {
  background: #A68D5B;
  padding: 0.5em;
  border-radius: 0.2em;
  color: #fff;
}
