<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/vue.js"></script>

</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

<div id="app" class="container mt-4">

<!-- Connexion au compte -->
<div class="card">
<div class="card-body">
  <h2>Créer un compte</h2>
  <form action="" @submit.prevent="registerAccount">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom
        <span>{{name.length + '/' + max_text_length}}</span>
      </label>
      <input type="text" name="name" id="texte" class="form-control" v-model="name" :maxlength="max_text_length" required>
    </div>
    <div class="mb-3">
      <label for="Email" class="form-label">Email
        <span>{{email.length + '/' + max_text_length}}</span>
      </label>
      <input type="email" name="email" id="email" class="form-control" v-model="email" maxlength="max_text_length" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe
        <span>{{password.length + '/' + max_pass_length}}</span>
      </label>
      <input type="password" name="password" id="password" class="form-control" v-model="password" maxlength="16" required>
    </div>
    <button type="submit" class="btn btn-primary">Créer un compte</button>
  </form>
</div>
</div>













 <h2 class="h2">Qu'as tu à raconter aujourd'hui ?<h2>

   <form class="row g-3" @submit.prevent="submitTweet">
   <div class="mb-3">
     <textarea cols="30" rows="10" class="form-control" maxlength="200" placeholder="Envoie une histoire mec !" v-model="tweet"></textarea>
   </div>

   <div class="my-1">
     <span class="fs-5" v-if="tweet.length < max_length">
       <mark>{{maxCharText}}</mark>
     </span>
     <span class="alert alert-danger fs-5" role="alert" v-else>
      {{errorMessage}}
     </span>
   </div>

     <button type="submit" class="btn btn-primary mb-3">Publier</button>
  </form>



  <ul v-for="tweet in tweets">
    <li class="fs-5">{{tweet}}</lI>
  </ul>

</div>


    <script src="js/vue-router.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
